p {
    margin-bottom: 6px;
}

hr {
    margin: 1rem 0 0.5rem;
}

.row {
    height: 45%
}

.coin-card {
    background-color: var(--prim-clr);
    color: var(--sec-clr);
    border-radius: 5px;
    box-shadow: 0px 1px 5px var(--prim-clr);
    padding: 1em;
}

.card-actions {
    display: flex;
    justify-content: space-between;
}

.card-action-btn {
    transition: all .2s ease-in-out;
}

.card-action-btn:hover {
    transform: scale(1.25);
    cursor: pointer;
}

.bi-star,
.bi-star-fill {
    font-size: 1.1rem;
}

.coin-title {
    display: flex;
    justify-content: center;
}

.coin-title img {
    width: 45%;
    height: auto;
}

.coin-stats {
    display:inline-flex;
    justify-content: space-between;
}

.coin-stats > div {
    text-align: end;
}

.sub-stat {
    font-size: 0.75rem;
    font-style: italic;
    margin: 0;
}

.bi-arrow-up {
    color: var(--accent-clr);
}

.bi-arrow-down {
    color: var(--sec-accent-clr);
}